<!DOCTYPE html>
<head>
  <title>Softball Lineup Apps</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <h1>Lineup</h1>

  <script>
    $(document).ready(function() {
      $("#submit").click(function(){
        playerName = $("#playerName").val();
        position = $("#position").val();
        $.post("http://localhost:3000/roster", {playerName:playerName, position:position}, function(data){
          window.location = 'http://localhost:3000/roster.html';
          });
          var heroName;
          var posPlayer;
          var nameAndPosition = {1:heroName, 2:posPlayer}
          localStorage.setItem('nameAndPosition', JSON.stringify(playerName, posPlayer));
        });
       });
  </script>

    Player Name:
    <input type="text" id="playerName">
    Position:
    <input type="text" id="position">
    <input type="button" id="submit" value="Add player">

  <div class="list"></div>

</body>
</html>
