<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Softball Lineup App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="320">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../src/player.js"></script>
  </head>

  <body>
    <!-- <h1>Lineup</h1> -->

    <!-- <form id="newPlayer" method="post" action="/">
      Player Name:
      <input id="{{this.firstName}}" value="{{this.firstName}}">
    </form> -->

      {{{body}}}

  </body>
</html>
