<!DOCTYPE html>
<head>
  <title>Softball Lineup Apps</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <h1>Roster</h1>

  <script>
  var playerName;
  var position;
  var retrieveData = localStorage.getItem('heroName');
  var retrieveDataPosition = localStorage.getItem('posPlayer');
  var playerName = JSON.parse(retrieveData);
  var position = JSON.parse(retrieveDataPosition)
    // console.log(playerName);

  $(document).ready(function() {
    $("div").append(playerName, position);
  });
  </script>

  <div id="rosterList"> </div>

</body>
</html>
