<!DOCTYPE html>
<head>
  <title>Softball Lineup Apps</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <h1>Lineup</h1>

  <label for="playerName">Player Name</label><input type="text" id="playerName" name="playerName">
  <label for="position">Position</label><input type="text" id="position" name="position">
  <label for="rating">Rating</label><input type="text" id="rating" name="rating">
  <input type="button" id="submit" value="Add Player">

  <div class="list"></div>

<script src="/js/front-end.js"></script>
</body>
</html>
